{% extends 'base.html' %}

{% block title %}Venchmark - Companies{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.css">  -->


    <body>
        <!-- List of uploaded documents -->
        <!-- You currently have XX vendors in the system -->

        <table class="table table-bordered">
        <tr><td>
          <h3>You have {{ company_list|length }}
            {% with companycount=company_list.length %}
            {% if companycount == 1 %}
            Vendor Company
            {% else %}
            Vendor Companies
            {% endif %}
             stored in the system.</h3>

          {% endwith %}


         </td>
        <td>
        <td>

            <!-- Button trigger modal -->
            <!--<button type="button" name="openBtn" class="btn btn-success openBtn" data-toggle="modal" data-target="#exampleModal" onclick="load_framework_modal()"> -->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
             <div class="modal-dialog" role="document">
               <div class="modal-content">

               </div>
             </div>
           </div>

           <!-- Create book button -->
           <button class="create-company btn btn-primary" type="button" name="button">Add a Vendor</button>
           <script type="text/javascript">
           $(document).ready(function() {

               $(".create-company").modalForm({
                   formURL: "{% url 'company_new' %}"
               });

           });
         </script>
        <script>
            var formAjaxSubmit = function(form, modal) {
              $(form).submit(function (e) {
              e.preventDefault();
              $.ajax({
                  type: $(this).attr('method'),
                  url: $(this).attr('action'),
                  data: $(this).serialize(),
                  success: function (xhr, ajaxOptions, thrownError) {
                      if ( $(xhr).find('.has-error').length > 0 ) {
                          $(modal).find('.modal-body').html(xhr);
                          formAjaxSubmit(form, modal);
                      } else {
                          $(modal).modal('toggle');
                      }
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                      // handle response errors here
                  }
              });
         });
      }
      //$(document).ready(function(){
        //var url = "/frameworks/new/"
      //  var url = "{% url 'company_new' %}"
      //  jQuery('#openBtn').click(function(e) {
      //    $('.modal-body').load(url,function(result){
      //      $('#form-modal').modal({show:true});
      //      formAjaxSubmit('#form-modal-body form', '#form-modal');
      //    });
      //  });
      //});

        </script>
        </td>

      </tr>
    </table>
    <p>

        {% if company_list %}
        <div class="listing">
            <table class="table table-bordered">
            <tr>

              <td>Company Name</td>
              <td>Company URL</td>
              <td>Company Logo</td>
            </tr>
                {% for company in company_list %}
                    <tr>
                      <!-- <td>{{ vendor.id }}</td> -->
                      <td><a href="/company/{{ company.uuid }}/">{{ company.name }}</a></td>
                      <!-- <td><a href="{{ vendor.get_absolute_url }}">{{ vendor.Name }}</td> -->
                      <!-- <td>{{ vendor.CompanyAddress1 }}<br>{{ vendor.CompanyAddress1 }}</td>
                      <td>{{ vendor.CompanyCountry }}</td>
                      <td>{{ vendor.CompanyState }}</td>
                      <td>{{ vendor.CompanyZip }}</td> -->
                      <td><a href="{{ company.url }}" target="mothership">{{ company.url }}</a></td>
                      <td><img src="{{ company.logo }}" alt="{{ company.name }} Logo" width="200" height="50"></td>
                      <td><a href="/company/{{ company.uuid }}/delete"><button type="button" class="btn btn-secondary">Delete</button></a>  <a href="/company/update/{{ company.uuid }}"><button type="button" class="btn btn-secondary">Modify</button></a><a href="/assessments/new?companyid={{ company.uuid }}">  <button type="button" class="btn btn-secondary">+Assessment</button></a></td>
                    </tr>
                {% endfor %}

          </table>
        </div>
        {% else %}
            <p>No Vendor Companies currently entered into the application.</p>
            <p>Would you like to add one now?</p>
            <form class="form-inline ml-auto">
              <a href="{% url 'company_new' %}" class="btn btn-success ml-2">Add New Vendor</a>
              <a href="" class="btn btn-primary ml-2">No</a>
            </form>

        {% endif %}


    </body>

 {% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
{% endblock %}
