{% extends 'base.html' %}
{% block title %}Venchmark - Vendors{% endblock %}

{% block content %}

{% load crispy_forms_tags %}


{% if user.is_authenticated %}

<body>
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ field.name }}: {{  error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
  <div class="card main-body-card rounded mb-0">
    <div class="card-body">
      <div class="PageHeader"><h2>Vendors</h2></div>
      <p>


          {% crispy form %}

      </div>
    </div>
  </div>


{% else %}

   <p>You are not logged in</p>
   <a href="{% url 'login' %}">login</a> |
   <a href="{% url 'signup' %}">signup</a>
 {% endif %}
 </body>
{% endblock %}
