{% block content %}

<form method="post" action="">
  {% csrf_token %}
{% load crispy_forms_tags %}
 <div class="modal-header">
    <h3 class="modal-title">Modify Employee, Contractor or Vendor Employee</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {{ form|crispy }}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">Create</button>
  </div>

</form>
{% endblock content %}
