{% extends 'base.html' %}
{% load static %}
{% block title %}Venchmark - Users{% endblock %}



{% block content %}

{% if user.is_authenticated %}


    <body>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
     <!-- Button trigger modal -->
     <!--<button type="button" name="openBtn" class="btn btn-success openBtn" data-toggle="modal" data-target="#exampleModal" onclick="load_framework_modal()"> -->
     <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
      </div>
    </div>
      <div class="card main-body-card rounded mb-0">
        <div class="card-body">
          <div class="PageHeader"><h1>Users </h1></div>
          <p>
          <a href="{% url 'user_new' %}"<button class="create-user btn btn-primary btn-lg outline" type="button" name="button">Add User</button></a>

          {% if user_list %}
          <div class="listing">
            <!-- bootstrap tables CSS -->
            <link href="{% static 'bs/css/bootstrap-table.min.css' %}" rel='stylesheet'>
            <script src="{% static 'bs/js/bootstrap-table.min.js' %}"></script>
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="Search ...">
            </div>
            <span class="counter pull-right"></span>

            <table class="table table-hover table-light table-bordered venchmark-table results" id="usersTable" >


            <thead class="thead-light">
              <tr>


                  <th>User ID</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th style="text-align:center">Edit</th>
                  <th style="text-align:center">Delete</th>
                  <!-- <th data-field="frameworks">Frameworks Used for Assessment</th> -->
              </tr>
            </thead>
            <tbody>
              {% for user in user_list %}
              <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{% for company in user.usercompany.all %}
                    {{ company.name }}
                    {% if company.is_vendor %}
                    - (Vendor)
                    {% endif %}
                {% endfor %}
                </td>
                <td align="center"><a href="/people/update/{{ user.uuid }}"<button class="modify-user-{{ user.uuid }} btn btn-primary" ><i class="fa fa-pencil"></i></button></a></td>
                <td align="center"><button class="delete-user-{{ user.uuid }} btn btn-danger" data-toggle="modal" data-id="{{ user.uuid }}" data-target="#modal" id="delete-user-{{ user.uuid }}"><i class="fas fa-trash-alt"></i></button>
                  <script type="text/javascript">
                  $(document).ready(function() {
                      $(".delete-user-{{ user.uuid }}").modalForm({
                         formURL: "/people/{{ user.uuid }}/delete/"
                       });
                  });
                  </script>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
            <script>
            $(document).ready(function() {
                $(".search").keyup(function () {
                  var searchTerm = $(".search").val();
                  var listItem = $('.results tbody').children('tr');
                  var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                      return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                  }
                });

                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                  $(this).attr('visible','false');
                });

                $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                  $(this).attr('visible','true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                  $('.counter').text(jobCount + ' item');

                if(jobCount == '0') {$('.no-result').show();}
                  else {$('.no-result').hide();}
                    });
              });
            </script>
          </div>

        {% else %}
            <p>No Assessments currently in the application.</p>
            <p>Would you like to add one now?</p>
            <form class="form-inline ml-auto">
              <a href="{% url 'NewAssessment' %}" class="btn btn-success ml-2">Add New Assessment</a>
              <a href="" class="btn btn-primary ml-2">No</a>
            </form>

        {% endif %}
      </div>
    </div>

    </body>

 {% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
{% endblock %}
