{% extends 'base.html' %}

{% block title %}Venchmark - People{% endblock %}



{% block content %}

{% if user.is_authenticated %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.css">


        <!-- List of uploaded documents -->
        <!-- You currently have XX vendors in the system -->
        <table border="0">
          <tr><td>
        <h3>You have {{ user_list|length }}
          {% with usercount=user_list|length %}
            {% if usercount == 1 %}
            person
            {% else %}
            people
            {% endif %}
             stored in the system.</h3>

          {% endwith %}
         </td>

         <td>

           <!-- Button trigger modal -->
           <!--<button type="button" name="openBtn" class="btn btn-success openBtn" data-toggle="modal" data-target="#exampleModal" onclick="load_framework_modal()"> -->
          <!-- Create book button -->
          <a href="{% url 'user_new'%}"><button class="btn btn-primary" data-title="Add a New User">Add a New User</button></a>

        </td>
      </tr>
    </table>
    <p>

        {% if user_list %}
        <div class="listing">
          <!--<script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script> -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
          <p>
          <p>
          <h1>People</h1>
          <div class="container">
              <table id="people-table" class="table table-striped table-bordered">
                     <thead>
                      <tr>
                        <th>UUID</th>
                        <th>E-mail</th>
                        <th>First Name</th>
                        <th>Name</th>
                        <th>Admin?</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <!-- <th>Phone Number</th> -->
                        <!-- <th>Vendor</th> -->
                      </tr>
                    </thead>
              </table>
          </div>

          <script>

          $(document).ready(function() {

              var table = $('#people-table').DataTable({
                  //"classes": 'table table-responsive table-no-bordered',
                  "serverSide": true,
                  "ajax": {
                      "beforeSend" : function (xhr) {
                          xhr.setRequestHeader("Authorization", "Token {{ token }}");
                      },
                      //"url" : "/api/v1/controls/{{ object.orderID }}/?format=datatables",
                      "url" : "/api/v1/people/?format=datatables",
                      "type" : "GET",
                    },
                    columnDefs: [
                        //{ targets: [ 2, 4, 5, 6, 7, 8, 9, 10, 11, ], visible: true},
                        { targets: [ 1, 3, 4, 5, 6, ], visible: true},
                        { targets: '_all', visible: false },
                        //{ targets: [5],
                        //        //data: "image",
                        //        render: function(data, type, row) {
                                            //return '<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>';
                                            //return "<a href='/framework/update/"+oData.uuid+"'><button class='btn btn-primary' data-title='Edit'><i class='fa fa-pencil'></i></button></a>";
                        //                    return "<b>"+oData.uuid+"</b>"
                        //        }
                        //},
                        //{ targets: [6],
                        //        data: "image",
                        //        render: function(data, type, row) {
                        //                    return '<button class="btn btn-danger" data-title="Edit" data-target="framework/<uuid:uuid>/delete" ><i class="fas fa-trash-alt"></i></button>';
                        //        }
                        //},
                    ],
                  "columns": [
                      //{"data": "FrameworkID", "searchable": false},
                      // Use dot notation to reference nested serializers.
                      // This data: could alternatively be displayed with the serializer's ReadOnlyField as well, as seen in the minimal example.
                      //{"data": "Function", "name": "Function"},
                      //{"data": "FunctionID", "name": "FunctionID"},
                      {"data": "uuid", "name": "uuid"},
                      {"data": "email", "name": "email",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            if(oData.email) {
                                $(nTd).html('<a href="/people/'+oData.uuid+'">'+oData.email+'</a>');
                            }
                        },
                      },
                      {"data": "first_name", "name": "first_name"},
                      { "data": "last_name", "name": "last_name",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                           //if(oData.name) {
                               $(nTd).html(oData.first_name + " " + oData.last_name);
                           //}
                       },
                      },

                      {"data": "is_superuser", "name": "is_superuser"},
                      {"data": "uuid", "name": "uuid",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html('<a href="/people/update/'+oData.uuid+'"><button class="btn btn-primary" data-title="Edit"><i class="fa fa-pencil"></i></button></a>');
                      //      $(nTd).html(<a href='/framework/update/');
                            }
                      },
                      {"data": "uuid", "name": "uuid",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html('<a href="/people/'+oData.uuid+'/delete"><button class="btn btn-danger" data-title="Delete"><i class="fas fa-trash-alt"></i></button></a>');
                      //      $(nTd).html(<a href='/framework/update/');
                            }
                      },
                  ]

              });


          });
          </script>
        </div>
        {% else %}
            <p>No People currently in the application.</p>
            <p>Would you like to add one now?</p>
            <form class="form-inline ml-auto">
              <a href="{% url 'NewPerson' %}" class="btn btn-success ml-2">Add New Person</a>
              <a href="" class="btn btn-primary ml-2">No</a>
            </form>

        {% endif %}


    </body>

 {% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
{% endblock %}
