{% extends 'base.html' %}
{% load static %}
{% block title %}Venchmark - Change Password{% endblock %}



{% block content %}

{% if user.is_authenticated %}


    <body>


      <div class="card main-body-card rounded mb-0">
        <div class="card-body">
          <div class="PageHeader"><h1>Change Password</h1></div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'home' %}"><button class="btn btn-danger" type="button" name="button">Back</button></a>
            <button class="btn btn-primary submit">Submit</button>
          </form>
      </div>
    </div>

    </body>

 {% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
{% endblock %}
