{% extends 'base.html' %}
{% block title %}Venchmark - Update Framework{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<body>
  <div class="card main-body-card rounded mb-0">
    <div class="card-body">
      <div class="PageHeader"><h1>Update Framework </div><br><div class="update-framework-name">({{ framework.name }})</div>
      <p>


          {% crispy form %}

      </div>
    </div>
  </div>


{% else %}

   <p>You are not logged in</p>
   <a href="{% url 'login' %}">login</a> |
   <a href="{% url 'signup' %}">signup</a>
 {% endif %}
 </body>
{% endblock %}
