{% extends 'base.html' %}

{% block title %}Venchmark - Add Control{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name }}: {{  error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

  <div class="card main-body-card rounded mb-0">
    <div class="card-body">
      <div class="PageHeader"><h1>Add Multiple Controls</div>
        <div class="PageSubHeader"><h3>{{ framework.name }}</h3></div>
      <p>

        <p>{% crispy form %}

          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="overlay">
    <div class="overlay__wrapper">
        <div class="overlay__spinner"></div>
    </div>
  </div> -->

{% else %}

   <p>You are not logged in</p>
   <a href="{% url 'login' %}">login</a> |
   <a href="{% url 'signup' %}">signup</a>
 {% endif %}
 </body>
{% endblock %}
