{% block content %}

<form method="post" action="">
  {% csrf_token %}
{% load crispy_forms_tags %}
 <div class="modal-header">
    <h3 class="modal-title">Add New Assessment</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.name|as_crispy_field }}
        {{ form.status|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.vendor|as_crispy_field }}
        {{ form.vendor_contact|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.owner|as_crispy_field }}
        {{ form.auditor|as_crispy_field }}
        {{ form.analyst|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.frameworks|as_crispy_field }}
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">Create</button>
  </div>

</form>
{% endblock content %}
