<!-- templates/vendor_new.html -->
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.css">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!-- <script src='https://www.chartjs.org/dist/2.7.3/Chart.bundle.js'></script> -->
<script src='https://www.chartjs.org/samples/latest/utils.js'></script>


<div class="report header">
<h1>{{ report.name }}</h1>
</div>
<p>
  <p>
<div class="executive summary">
  <div class="executive summary heading">
    <h3>Executive Summary</h3>
  </div>
  <div id="ReportForm" class="form-group-lg">

    <table class="table table-condensed table-responsive" id="ExecSumTable" >
      <tr>
          <td >
              <!-- <form action="/report/{{ report.uuid }}/update/" method="POST" name="formExecSum"> -->
                       <!-- <textarea id="executive_summary"> -->
                         {% if report.executive_summary %}
                            {{ report.executive_summary }}
                         {% else %}
                         {{ report.author.company.name }} has performed a review of the business practices and security practices for the vendor, <b>{{ report.assessment.vendor.name }}</b>. The risks associated with {{ report.assessment.vendor.name }}'s business practices and security mechanisms has been determined by the analyst and author of this report.
                         You will find that the author has documented which of the vendor's business and security practices are in compliance with {{ report.author.company.name }} security controls and which are not in compliance.
                         <p>Of the controls that the author has determined are not in compliance, a risk assessment has been performed and a risk rating has been assigned to each of those controls found not to be in compliance with company controls.
                         <p>The vendor, {{ report.assessment.vendor.name }} was provided a questionnaire that was made up of Information Security controls, as documented in the frameworks assigned in this assessment.
                         <p>This executive summary is the result of reviewing {{ report.assessment.vendor.name }}’s provided answers and documentation and is intended to provide the requestor and {{ report.author.company.name }} IT Leadership a high-level overview of the risks associated with the vendor so that {{ report.author.company.name }} IT Leadership may make an informed decision regarding the purchase of services from the vendor.
                         {% endif %}

                       <!-- </textarea> -->

                </a>
                <p>

                </p>
              <!-- </form> -->
            </td>

      </tr>
    </table>
</div>
<div class="executive findings">
  <div class="executive findings heading">
    <h3>Findings</h3>
  </div>
    <table class="table  table-responsive" id="ExecFindingsTable" >
      <tr>
          <td >
              <!-- <form action="/report/{{ report.uuid }}/update/" method="POST" name="formExecSum"> -->
                       <!-- <textarea id="executive_findings"> -->
                         {% if report.executive_findings %}
                            {{ report.executive_findings }}
                         {% else %}
                            The table below details the number of gaps found between {{ report.assessment.vendor.name }}’s processes and the Security Controls documented in the {{ report.author.company.name }} Vendor Cybersecurity Compliance Program (based on the documented frameworks).
                            <p>
                            <p>

                         {% endif %}

                      <!--  </textarea> -->

                </a>
                <p>

                </p>
              <!-- </form> -->
            </td>

      </tr>
    </table>
  </div>
  <div class="executive compliance summary">
    <div class="executive compliance heading">
      <h3>Security Controls Compliance</h3>
    </div>
      <table class="table table-responsive" id="ExecComplianceTable" >
        <tr>
            <td >
                <!-- <form action="/report/{{ report.uuid }}/update/" method="POST" name="formExecSum"> -->
                         <!-- <textarea id="executive_compliance_summary"> -->
                           {% if report.executive_compliance_summary %}
                              {{ report.executive_compliance_summary }}
                           {% else %}
                           {{ report.assessment.vendor.name }} was compliant with {{ report.c_controls }} of the Security Controls documented in assigned frameworks.
                           <p><p>{{ report.nc_controls }} security controls were marked "Not Compliant”, and [[NEED TO ADD PARTIALLY COMPLIANT]]. This determination was made because the vendor has either implemented an informal, undocumented process or a partial process but hasn’t provided proof of processes in their respective environments.
                             [[ NEED TO ADD NOTES FROM AUTHOR FOR REVIEW   ]]
                           {% endif %}

                        <!--  </textarea> -->

                  </a>
                  <p>

                  </p>
                <!-- </form> -->
              </td>

        </tr>
      </table>
    </div>

    <div class="compliance graph heading">
      <h3>Security Controls Compliance Chart</h3>
    </div>
    <div class="vendor security control compliance chart">
      <div id="canvas-holder" style="width:50%" align="center">
        <canvas id="assessmentComplianceChart"> <!-- width="800" height="450"></canvas> -->
      </div>

      <script>

      var getUrl = window.location;
      var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[0];

      var endpoint = baseUrl + 'api/v1/assessment/{{ report.assessment.uuid }}/compliance/'
      //alert(endpoint);


      var defaultData = [];
      var labels = [];
      // Create a request variable and assign a new XMLHttpRequest report to it.
      //$.ajax({
      //var myJSON;

      $.ajax({
        //"url" : baseURL + "/api/v1/assessment/{{ report.assessment.uuid }}/compliance/",
        "url" : endpoint, // baseURL + "/api/v1/assessment/{{ report.assessment.uuid }}/compliance/",
        "type" : "GET",
        "beforeSend" : function (xhr) {
            xhr.setRequestHeader("Authorization", "Token {{ token }}");
        },
            //"url" : "/api/v1/controls/{{ report.orderID }}/?format=datatables",

        dataType: 'json',
          success: function (data) {
                //Do stuff with the JSON data
                function setChart(){
                  var ctx = document.getElementById("assessmentComplianceChart");
                  var piechart = new Chart(ctx, {
                      type: 'doughnut',
                      options: {
                        title: {
                            display: true,
                            text: 'Vendor Cyber Security Control Adherence'
                        }
                      },
                      data: {
                          labels: ["Compliant Controls", "Non-Compliant Controls" ],
                          datasets: [{
                              label: 'Vendor Compliance',
                              data: [data.compliant_controls, data.non_compliant_controls ],
                              backgroundColor: [

                                      window.chartColors = '#00FF00', //window.chartColors.green,
                                      window.chartColors = '#FF0000', //window.chartColors.red,

                        ],

                              //data: ['20','15', '10'],
                          }]
                      }
                  });
                }

                setChart()

        }
      });


      //$.getJSON(endpoint, function(data){




    //  }

      //)
      </script>

    </div>

      <div class="executive risk assessment">
        <div class="executive risk assessment heading">
          <h3>Risk Assessment</h3>
        </div>
          <!-- <table class="table  table-condensed table-responsive" id="ExecRiskAssessmentTable" > -->
            <!-- <tr> -->
                <!-- <td > -->
                    <!-- <form action="/report/{{ report.uuid }}/update/" method="POST" name="formExecSum"> -->
                            <!-- <textarea id="executive_risk_assessment_summary"> -->
                               {% if report.executive_risk_assessment_summary %}

                                  <div id="risk_assessment_summary">
                                      {{ report.executive_risk_assessment_summary }}
                                  </div>
                               {% else %}
                               <div id="risk_assessment_summary">
                                   <p>While {{ report.assessment.vendor.name }} was able to provide documentation that outlined some robust processes, there were some processes that could be improved.
                                   <p>
                                   <p>It is {{ report.author.company.name }}'s opinion that the risk associated with doing business with {{ report.assessment.vendor.name }} is <b>{{ report.assessment.vendor.risk_rating }}</b>.
                                   <p>
                                   <p>The table below details the number of controls determined to be of High, Moderate and Low Risk.
                                  <p>
                                  <p>The chart below provides an overview of the {{ report.assessment.vendor.name }} Vendor Risk Profile.
                                </div>
                               {% endif %}

                      <!--       </textarea> -->

                      </a>
                      <p>

                      </p>
                    <!-- </form> -->
              <!--  </td> -->

          <!--  </tr> -->
          <!-- </table> -->
        </div>

    <div class="controls risk table">
      <div id="canvas-holder" style="width:50%" align="center">
        <canvas id="assessmentRiskChart"> <!-- width="800" height="450"></canvas> -->
      </div>

      <script>

      var getUrl = window.location;
      var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[0];
      var endpoint = baseUrl + 'api/v1/assessment/{{ report.assessment.uuid }}/risk/'
      //alert(endpoint);


      var defaultData = [];
      var labels = [];
      // Create a request variable and assign a new XMLHttpRequest report to it.
      //$.ajax({
      //var myJSON;

      $.ajax({
        //"url" : baseUrl + "/api/v1/assessment/{{ report.assessment.uuid }}/risk/",
        "url" : endpoint, //baseUrl + "/api/v1/assessment/{{ report.assessment.uuid }}/risk/",
        "type" : "GET",
        "beforeSend" : function (xhr) {
            xhr.setRequestHeader("Authorization", "Token {{ token }}");
        },
            //"url" : "/api/v1/controls/{{ report.orderID }}/?format=datatables",

        dataType: 'json',
          success: function (data) {
                //Do stuff with the JSON data
                function setChart(){
                  var ctx = document.getElementById("assessmentRiskChart");
                  var piechart = new Chart(ctx, {
                      type: 'doughnut',
                      options: {
                        title: {
                            display: true,
                            text: 'Vendor Risk Profile'
                        }
                      },
                      data: {
                          labels: ["High Risk Controls", "Moderate Risk Controls", "Low Risk Controls" ],
                          datasets: [{
                              label: 'Vendor Risk',
                              data: [data.high_risk_controls, data.moderate_risk_controls, data.low_risk_controls ],
                              backgroundColor: [
                                window.chartColors = '#FF0000', //window.chartColors.red,
                                window.chartColors = '#FFA500', //window.chartColors.orange,
                                window.chartColors = '#00FF00', //window.chartColors.green,

                        ],

                              //data: ['20','15', '10'],
                          }]
                      }
                  });
                }

                setChart()

        }
      });


      //$.getJSON(endpoint, function(data){




    //  }

      //)
      </script>
    </div>

    <div class="risk profile chart">
    </div>

</div>
<div class="controls compliance center">
  <div class="controls compliance heading">
    <h3>Control Compliance</h3>
  </div>
    <p>{{ report.assessment.vendor.name }} Control Compliance
      <p>
      <p>
      {% if questions %}
                <div class="table-responsive">

                      <table class="table table-bordered" id="control_compliance_table">
                          <thead>
                              <tr>
                                  <th style="display: none;">#</th>
                                  <th>Control</th>
                                  <th>Question</th>
                                  <th>Answer</th>
                                  <th>Compliance</th>
                                  <th>Notes</th>
                              </tr>
                          </thead>

                          <tbody>
                            {% for question in questions %}
                              <tr>
                                  <!-- <th scope="row" style="display: none;">1</th> -->
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="10%"><span class="tabledit-span">{{ question.control.subcategoryID }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="40%"><span class="tabledit-span" style="">{{ question.question }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.answer }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.compliance }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.notes }}
                                  </span></td>

                                </td>
                            </tr>
                              {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>
      {% endif %}
</div>
<div class="controls risk">
  <div class="controls RISK heading">
    <h3>Risk Assignment</h3>
  </div>
    <p>{{ report.assessment.vendor.name }} Security Control Risks
      <div class="table-responsive">

            <table class="table table-bordered" id="control_risks_table">
                <thead>
                    <tr>
                        <th style="display: none;">#</th>
                        <th>Control</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Compliance</th>
                        <th>Notes</th>
                        <th>Risk</th>
                    </tr>
                </thead>

                <tbody>
                  {% for question in questions %}
                    <tr>
                        <!-- <th scope="row" style="display: none;">1</th> -->
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="10%"><span class="tabledit-span">{{ question.control.subcategoryID }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="40%"><span class="tabledit-span" style="">{{ question.question }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.answer }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ form.compliance }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.notes }}
                        </span><input class="tabledit-input form-control input-med" type="text" name="answer" value="" style="display: none;" disabled=""></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.risk_rating }}
                            </span></td>

                      </td>
                  </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="conclusion">
</div>


{% endblock %}
