<!-- templates/vendor_new.html -->
{% extends 'base.html' %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.css">
<link href="{% static 'bs/css/gijgo.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'bs/js/gijgo.min.js' %}" type="text/javascript"></script>

<script>


$(document).ready(function () {  // open document.read(function () {


      $("#executive_summary").editor();
      $("#executive_findings").editor();


});   // close document.read(function () {


function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 };


// process the form
function submitExecSum() {

    //alert('in the function');
    // get the form data
    // there are many ways to get this data using jQuery (you can use the class or id also)
    //alert($('input[executive_summary=executive_summary]').val());

    var formData = {
        'executive_summary'              : document.getElementById("executive_summary").value, //$('input[name=executive_summary]').val(),
        'executive_findings'              : $('input[name=executive_findings]').val(),
        'executive_compliance_summary'              : $('input[name=executive_compliance_summary]').val(),
        'executive_risk_assessment_summary'              : $('input[name=executive_risk_assessment_summary]').val(),
        //$('input[name=answer]').val(),
        //'executive_summary': document.getElementById("executive_summary").value,
        //'email'             : $('input[name=email]').val(),
        //'superheroAlias'    : $('input[name=superheroAlias]').val()
    };
    //console.log("what the fuck");
    // process the form
    $.ajax({
        type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
        url         : '/report/{{ object.uuid }}/update/', // the url where we want to POST
        data        : formData, // our data object
        dataType    : 'json', // what type of data do we expect back from the server
        encode          : true,
        //success: function(response){
        //  console.log(response);

        function(response) {
          console.log(response);
        }
       //}
    })



    // stop the form from submitting the normal way and refreshing the page
    //event.preventDefault();
    //});
 };



</script>
<a href="/report/pdf/{{ report.uuid }}/" target="mother"><button class="btn btn-primary" type="button" name="button">Export Report to PDF</button></a>


<div class="report header">
<h1>{{ object.name }}</h1>
</div>
<p>
  <p>
<div class="executive summary">
  <div class="executive summary heading">
    <h3>Executive Summary</h3>
  </div>
  <div id="ReportForm" class="form-group-lg">

    <table class="table table-bordered table-condensed table-responsive" id="ExecSumTable" >
      <tr>


            <td >
              <!-- <form action="/report/{{ object.uuid }}/update/" method="POST" name="formExecSum"> -->
                       <textarea id="executive_summary">
                         {% if object.executive_summary %}
                            {{ object.executive_summary }}
                         {% else %}
                         {{ object.author.company.name }} has performed a review of the business practices and security practices for the vendor, <b>{{ object.assessment.vendor.name }}</b>. The risks associated with {{ object.assessment.vendor.name }}'s business practices and security mechanisms has been determined by the analyst and author of this report.
                         You will find that the author has documented which of the vendor's business and security practices are in compliance with {{ object.author.company.name }} security controls and which are not in compliance.
                         <p>Of the controls that the author has determined are not in compliance, a risk assessment has been performed and a risk rating has been assigned to each of those controls found not to be in compliance with company controls.
                         <p>The vendor, {{ object.assessment.vendor.name }} was provided a questionnaire that was made up of Information Security controls, as documented in the frameworks assigned in this assessment.
                         <p>This executive summary is the result of reviewing {{ object.assessment.vendor.name }}’s provided answers and documentation and is intended to provide the requestor and {{ object.author.company.name }} IT Leadership a high-level overview of the risks associated with the vendor so that {{ object.author.company.name }} IT Leadership may make an informed decision regarding the purchase of services from the vendor.
                         {% endif %}

                       </textarea>

                </a>
                <p>
                <button type="submit" class="btn btn-success" id="{{ object.uuid }}-submit" onClick="submitExecSum();">Save Executive Summary</button>
                </p>
              <!-- </form> -->
            </td>






      </tr>
    </table>
  </div>



</div class="findings summary">
The table below details the number of gaps found between {{ object.assessment.vendor.name }}’s processes and the Security Controls documented in the {{ object.author.company.name }} Vendor Cybersecurity Compliance Program (based on the documented frameworks).
      <div class="findings table">
      </div>
<p>Figure 1 (below) illustrates the percentage of {{ object.author.company.name }} Vendor Cyber Security Controls that had findings resulting from the Review.
      <div class="vendor security control compliance chart">
        <div id="canvas-holder" style="width:50%" align="center">
          <canvas id="assessmentComplianceChart"> <!-- width="800" height="450"></canvas> -->
        </div>

        <script>


        var endpoint='/api/v1/assessment/{{ object.assessment.uuid }}/compliance/'


        var defaultData = [];
        var labels = [];
        // Create a request variable and assign a new XMLHttpRequest object to it.
        //$.ajax({
        //var myJSON;

        $.ajax({
          "url" : "/api/v1/assessment/{{ object.assessment.uuid }}/compliance/",
          "type" : "GET",
          "beforeSend" : function (xhr) {
              xhr.setRequestHeader("Authorization", "Token {{ token }}");
          },
              //"url" : "/api/v1/controls/{{ object.orderID }}/?format=datatables",

          dataType: 'json',
            success: function (data) {
                  //Do stuff with the JSON data
                  function setChart(){
                    var ctx = document.getElementById("assessmentComplianceChart");
                    var piechart = new Chart(ctx, {
                        type: 'doughnut',
                        options: {
                          title: {
                              display: true,
                              text: 'Vendor Cyber Security Control Adherence'
                          }
                        },
                        data: {
                            labels: ["Compliant Controls", "Non-Compliant Controls" ],
                            datasets: [{
                                label: 'Vendor Compliance',
                                data: [data.compliant_controls, data.non_compliant_controls ],
                                backgroundColor: [

                                        window.chartColors = '#00FF00', //window.chartColors.green,
                                        window.chartColors = '#FF0000', //window.chartColors.red,

                          ],

                                //data: ['20','15', '10'],
                            }]
                        }
                    });
                  }

                  setChart()

          }
        });


        //$.getJSON(endpoint, function(data){




      //  }

        //)
        </script>

      </div>
{{ object.assessment.vendor.name }} was compliant with {{ object.c_controls }} of the Security Controls documented in assigned frameworks.
<p><p>{{ object.nc_controls }} security controls were marked "Not Compliant”, and [[NEED TO ADD PARTIALLY COMPLIANT]]. This determination was made because the vendor has either implemented an informal, undocumented process or a partial process but hasn’t provided proof of processes in their respective environments.
  [[ NEED TO ADD NOTES FROM AUTHOR FOR REVIEW   ]]
<div>
<p>
<p>
</div>
<div class="executive risk assessment">
  <div class="executive risk assessment heading">
    <h3>Risk Assessment</h3>
  </div>
  <p>While {{ object.assessment.vendor.name }} was able to provide documentation that outlined some robust processes, there were some processes that could be improved.
  <p>The table below details the number of controls determined to be of High, Moderate and Low Risk.
    <div class="controls risk table">
      <div id="canvas-holder" style="width:50%" align="center">
        <canvas id="assessmentRiskChart"> <!-- width="800" height="450"></canvas> -->
      </div>

      <script>


      var endpoint='/api/v1/assessment/{{ object.assessment.uuid }}/risk/'


      var defaultData = [];
      var labels = [];
      // Create a request variable and assign a new XMLHttpRequest object to it.
      //$.ajax({
      //var myJSON;

      $.ajax({
        "url" : "/api/v1/assessment/{{ object.assessment.uuid }}/risk/",
        "type" : "GET",
        "beforeSend" : function (xhr) {
            xhr.setRequestHeader("Authorization", "Token {{ token }}");
        },
            //"url" : "/api/v1/controls/{{ object.orderID }}/?format=datatables",

        dataType: 'json',
          success: function (data) {
                //Do stuff with the JSON data
                function setChart(){
                  var ctx = document.getElementById("assessmentRiskChart");
                  var piechart = new Chart(ctx, {
                      type: 'doughnut',
                      options: {
                        title: {
                            display: true,
                            text: 'Vendor Risk Profile'
                        }
                      },
                      data: {
                          labels: ["High Risk Controls", "Moderate Risk Controls", "Low Risk Controls" ],
                          datasets: [{
                              label: 'Vendor Risk',
                              data: [data.high_risk_controls, data.moderate_risk_controls, data.low_risk_controls ],
                              backgroundColor: [
                                window.chartColors = '#FF0000', //window.chartColors.red,
                                window.chartColors = '#FFA500', //window.chartColors.orange,
                                window.chartColors = '#00FF00', //window.chartColors.green,

                        ],

                              //data: ['20','15', '10'],
                          }]
                      }
                  });
                }

                setChart()

        }
      });


      //$.getJSON(endpoint, function(data){




    //  }

      //)
      </script>
    </div>
  <p>The chart below provides an overview of the {{ object.assessment.vendor.name }} Vendor Risk Profile.
    <div class="risk profile chart">
    </div>
  <p>It is {{ object.author.company.name }}'s opinion that the risk associated with doing business with {{ object.assessment.vendor.name }} is <b>{{ object.assessment.vendor.risk_rating }}</b>.
</div>
<div class="controls compliance">
  <div class="controls compliance heading">
    <h3>Control Compliance</h3>
  </div>
    <p>{{ object.assessment.vendor.name }} Control Compliance
      <p>
      <p>
      {% if questions %}
                <div class="table-responsive">

                      <table class="table table-bordered" id="control_compliance_table">
                          <thead>
                              <tr>
                                  <th style="display: none;">#</th>
                                  <th>Control</th>
                                  <th>Question</th>
                                  <th>Answer</th>
                                  <th>Compliance</th>
                                  <th>Notes</th>
                              </tr>
                          </thead>

                          <tbody>
                            {% for question in questions %}
                              <tr>
                                  <!-- <th scope="row" style="display: none;">1</th> -->
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="10%"><span class="tabledit-span">{{ question.control.subcategoryID }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="40%"><span class="tabledit-span" style="">{{ question.question }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.answer }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ form.compliance }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.notes }}
                                  </span></td>

                                </td>
                            </tr>
                              {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>
      {% endif %}
</div>
<div class="controls risk">
  <div class="controls RISK heading">
    <h3>Risk Assignment</h3>
  </div>
    <p>{{ object.assessment.vendor.name }} Security Control Risks
      <div class="table-responsive">

            <table class="table table-bordered" id="control_risks_table">
                <thead>
                    <tr>
                        <th style="display: none;">#</th>
                        <th>Control</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Compliance</th>
                        <th>Notes</th>
                        <th>Risk</th>
                    </tr>
                </thead>

                <tbody>
                  {% for question in questions %}
                    <tr>
                        <!-- <th scope="row" style="display: none;">1</th> -->
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="10%"><span class="tabledit-span">{{ question.control.subcategoryID }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="40%"><span class="tabledit-span" style="">{{ question.question }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.answer }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ form.compliance }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.notes }}
                        </span><input class="tabledit-input form-control input-med" type="text" name="answer" value="" style="display: none;" disabled=""></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.risk_rating }}
                            </span></td>

                      </td>
                  </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="conclusion">
</div>


{% endblock %}
