<!-- templates/vendor_new.html -->
{% load static %}
{% autoescape off %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.css">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!-- <script src='https://www.chartjs.org/dist/2.7.3/Chart.bundle.js'></script> -->
<script src='https://www.chartjs.org/samples/latest/utils.js'></script>


<div class="report header">
<h1>{{ report.name }}</h1>
</div>
<p>
  <p>
<div class="executive summary">
  <div class="executive summary heading">
    <h3>Executive Summary</h3>
  </div>
  <div id="ReportForm" class="form-group-lg">

    <table class="table table-condensed table-responsive" id="ExecSumTable" >
      <tr>
          <td >
            <div id="repExecSum">
              {{ report.executive_summary }}

            </div>
            <script>
                $('#repExecSum').each(function(){
                    var $this = $(this);
                    var t = $this.text();
                    $this.html(t.replace('&lt','<').replace('&gt', '>'));
                });

            </script>



                </a>
                <p>

                </p>
              <!-- </form> -->
            </td>

      </tr>
    </table>
</div>
<div class="executive findings">
  <div class="executive findings heading">
    <h3>Findings</h3>
  </div>
    <table class="table  table-responsive" id="ExecFindingsTable" >
      <tr>
          <td >
            <div id="repExecFindingsSum">
                {{ report.executive_findings }}
            </div>

              <script>
                  $('#repExecFindingsSum').each(function(){
                      var $this = $(this);
                      var t = $this.text();
                      $this.html(t.replace('&lt','<').replace('&gt', '>'));
                  });

              </script>

            </td>

      </tr>
    </table>
  </div>
  <div class="executive compliance summary">
    <div class="executive compliance heading">
      <h3>Security Controls Compliance</h3>
    </div>
      <table class="table table-responsive" id="ExecComplianceTable" >
        <tr>
            <td >
                <div id="repExecComplianceSum">
                  {{ report.executive_compliance_summary }}
                </div>
                <script>
                    $('#repExecComplianceSum').each(function(){
                        var $this = $(this);
                        var t = $this.text();
                        $this.html(t.replace('&lt','<').replace('&gt', '>'));
                    });

                </script>

              </td>

        </tr>
      </table>
    </div>

    <div class="compliance graph heading">
      <h3>Security Controls Compliance Chart - THIS IS REPORT VIEW 2 AND THERE SHOULD BE A GODDAMNED CHART BELOW</h3>
    </div>
    <div class="vendor security control compliance chart">
      <img src="media/{{ report.executive_compliance_chart }}" />

    </div>

      <div class="executive risk assessment">
        <div class="executive risk assessment heading">
          <h3>Risk Assessment</h3>
        </div>
        <div id="repExecRiskAssmtSum">
          {{ report.executive_risk_assessment_summary }}
        </div>
        <script>
            $('#repExecRiskAssmtSum').each(function(){
                var $this = $(this);
                var t = $this.text();
                $this.html(t.replace('&lt','<').replace('&gt', '>'));
            });

        </script>

        <div class="risk graph heading">
          <h3>Security Controls Risk Chart</h3>
        </div>
        <div class="vendor security control risk chart">
          <img src="media/{{ report.executive_risk_chart }}" />


        </div>


</div>
<p class="new-page"></p>
<div class="controls compliance center">
  <div class="controls compliance heading">
    <h3>Control Compliance</h3>
  </div>
    <p>{{ report.assessment.vendor.name }} Control Compliance
      <p>
      <p>
      {% if questions %}
                <div class="table-responsive">

                      <table class="table table-bordered" id="control_compliance_table" style="border: 1px solid black;border-collapse: collapse;">
                          <thead>
                              <tr>
                                  <th style="display: none;">#</th>
                                  <th>Control</th>
                                  <th>Question</th>
                                  <th>Answer</th>
                                  <th>Compliance</th>
                                  <th>Notes</th>
                              </tr>
                          </thead>

                          <tbody>
                            {% for question in questions %}
                              <tr>
                                  <!-- <th scope="row" style="display: none;">1</th> -->
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="10%"><span class="tabledit-span">{{ question.control.subcategoryID }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="40%"><span class="tabledit-span" style="">{{ question.question }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.answer }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.compliance }}
                                      </span></td>
                                  <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ question.notes }}
                                  </span></td>

                                </td>
                            </tr>
                              {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>
      {% endif %}
</div>
<p class="new-page"></p>
<div class="controls risk">
  <div class="controls RISK heading">
    <h3>Risk Assignment</h3>
  </div>
    <p>{{ report.assessment.vendor.name }} Security Control Risks
      <div class="table-responsive">

            <table class="table table-bordered" id="control_risks_table" style="border: 1px solid black;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="display: none;">#</th>
                        <th>Control</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Compliance</th>
                        <th>Notes</th>
                        <th>Likelihood of Exploit</th>
                        <th>Impact</th>
                        <th>Risk</th>
                    </tr>
                </thead>

                <tbody>
                  {% for nc_question in nc_questions %}
                    <tr>
                        <!-- <th scope="row" style="display: none;">1</th> -->
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="10%"><span class="tabledit-span">{{ nc_question.control.subcategoryID }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="40%"><span class="tabledit-span" style="">{{ nc_question.question }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ nc_question.answer }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ nc_question.compliance }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ nc_question.notes }}
                        </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ nc_question.likelihood }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ nc_question.impact }}
                            </span></td>
                        <td class="tabledit-view-mode" style="cursor: pointer;" width="50%"><span class="tabledit-span">{{ nc_question.risk_rating }}
                            </span></td>

                      </td>
                  </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="conclusion">
</div>


{% endblock %}
{% endautoescape %}
